body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f5f7;
    color: #424242;
    margin: 0;
    padding: 0; /* Removed the padding to allow full use of flex */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full view height */
}

.version-select-container {
    margin: 20px 0; /* Add spacing around the dropdown */
}

.version-select-container label {
    margin-right: 10px;
}

#version-dropdown {
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;
    z-index: 10;
}

#progress-bar {
    height: 20px; /* Increased height for a wider bar */
    width: 0%; /* Initial width set to 0 */
    background-color: #4caf50;
    transition: width 0.4s ease; /* Smooth transition for width changes */
}

.survey-container {
    width: 100%; /* Use full width of screen */
    max-width: 800px; /* Increased max-width for a larger container */
    background-color: #ffffff;
    padding: 3rem; /* More padding for a spacious feel */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* Compensate for fixed progress bar */
    margin-bottom: 60px; /* Space at the bottom */
}

/* Logo Image Styles */
.logo-image {
    max-width: 200px; /* Adjust maximum width as desired */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 4px; /* Slight rounding of edges */
    display: block; /* Ensure it's a block element to center correctly */
    margin: 0 auto 20px; /* Auto margins to center horizontally and margin-bottom for spacing */
    border-bottom: 2px solid;
}

.contact-info {
    text-align: left; /* Center the text within the survey-container */
    margin-top: 20px; /* Spacing from the last element of the survey */
    font-size: 0.9em; /* Adjust the font size as needed */
    color: #333; /* Adjust the color to your preference */
}

.question-container {
    margin-bottom: 1rem; /* Reduced margin for compactness */
}



.speaker-icon {
    color: #1E90FF;
    margin-left: 20px; /*Decreased the margin to bring the icon closer */
    transition: transform 0.3s ease;
    cursor:pointer;
}

.speaker-icon:hover {
    transform: scale(1.5); /* Adjusts the scale to 120% of the original size on hover */
}

.question-text {
    font-size: 20px; /* More prominent question text */
    font-weight: 600;
    color: #424242; /* Darker color for improved readability */
    flex: 1; /* Allows text to fill available space */
}

.options-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.options-container label {
    padding: 0.75rem 1rem;
    background-color: #f9f9f9;
    border: 1px solid #d0d0d0; /* Thin border for refinement */
    border-radius: 4px; /* Matched with overall design language */
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.options-container input[type="radio"]:checked + label {
    background-color: #bbdefb; /* Gentle blue color for selected option */
    border-color: #1E90FF;
}

.options-container input[type="radio"] {
    display: none; /* Keep this to maintain functionality */
}

.nav-button {
    border: 1px solid #007bff; /* Add border to provide structure */
    background-color: #007bff;
    color: #fff;
    padding: 12px 25px; /* More padding for a larger, more accessible click area */
    margin: 10px 5px 0;
    border-radius: 4px; /* Consistent border-radius */
    font-size: 14px; /* Match the button text size with the form style */
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.nav-button:hover {
    background-color: #0056b3;
    border-color: #0056b3; /* Darken border on hover for effect */
}

.chinese-listening-test-title {
    font-size: 28px; /* Adjust the size as needed */
    font-weight: bold; /* Makes the font bold */
    text-align: center; /* Centers the title */
    color: #424242; /* Sets the color, choose what fits your design */
    margin-top: 20px; /* Adds space to the top of the title */
    margin-bottom: 20px; /* Adds space below the title */
    padding: 10px; /* Adds padding inside the title boundary */
    border-bottom: 2px solid #424242; /* Adds an underline for visual separation */
    display: block; /* Ensures the title takes its own line */
    max-width: 80%; /* Limits the width and centers it since it's block level */
    margin-left: auto; /* Centers the title horizontally */
    margin-right: auto; /* Centers the title horizontally */
}

.score-display {
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2em;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* Add any additional styling you want for this score display */
}

@media (max-width: 768px) {
    .welcome-screen, .survey-container {
        padding: 1em;
        width: 100%;
        margin: 10px 0;
        box-sizing: border-box;
    }

    .student-info-form label,
    .student-info-form input,
    .student-info-form button,
    .nav-button {
        font-size: 0.9em;
    }
}

.logo-container {
    margin-top: 1em;
    text-align: center;
}

.chinese-listening-test-title {
    color: #333;
    margin: 0.5em 0;
}

.welcome-screen, .survey-container {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px;
}

.student-info-form {
    display: flex;
    flex-direction: column;
}

.student-info-form label {
    font-size: 1em;
    color: #555;
    margin-bottom: 0.5em;
}

.student-info-form input {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.student-info-form button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.student-info-form button:hover {
    background-color: #4cae4c;
}